@import "tailwindcss";

@theme {
  --color-primary: #059669;
  --color-secondary: #2563eb;
  --color-success: #10b981;
  --color-warning: #f59e0b;
  --color-error: #ef4444;
  --color-muted: #6b7280;
  --color-muted-light: #f3f4f6;
}
